<form action="">
    <input type="email" name="email" id="email" placeholder="emaillll">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Signup</button>
</form>