<form action="/test" method="POST">
    <input type="text" name="email" id="email" placeholder="email" required>
    <input type="text" name="password" type="password" placeholder="insert pass" required>
    <button type="submit">Signup</button>
</form>